body {
  padding-top: 70px;
}

.container-fluid{
  margin-top: 57px;
}

h1, h2{
  text-align: center;
}

h3{
  font-weight: bold;
}

p{
  font-size: 1.3em !important;
}

.jumbotron{
  width: 70%;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.emulator{
  width: 40% !important;
}

.button-group{
  width: 120px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#btn{
  width: 60px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.small{
  font-size: 0.9em !important;
}

